<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <form action="/add_user/" method="POST">
      <div class="form-group-sm">
        <label for="exampleInputEmail1">用户</label>
        <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="用户">
      </div>
      <button type="submit" class="btn btn-success">提交</button>
</form>


</body>
</html>