{% extends 'base.html' %}

{% block page-main %}

    <h1 class="page-header">所有所者</h1>
    <a class="btn btn-sm btn-success" style="margin-top: 5px;" href="/add_author/">添加作者</a>
    <table  class="table table-striped" style="margin-top: 2px">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>名字</th>
            <th>作品</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for author in author_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    {% for book in author.book.all %}
                        {% if forloop.last %}
                            {{ book.title }}
                        {% else %}
                            {{ book.title }} ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a  class="btn btn-danger btn-sm" href="/delete_author/?id={{ author.id }}">删除</a>
                    <a  class="btn btn-success btn-sm" href="/edit_author/?id={{ author.id }}">修改</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}