<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Dashboard Template for Bootstrap</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>
{% include 'daohang.html' %}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li {% if publisher_list %} class="active" {% endif %}><a href="/publisher_list/">出版社列表 <span class="sr-only">(current)</span></a></li>
                <li {% if all_book %} class="active" {% endif %}><a href="/book_list/">书籍列表</a></li>
                <li {% if author_list %} class="active" {% endif %}><a href="/author_list/">作者列表</a></li>
            </ul>

        </div>


        {#body版块#}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% block page-main %}

            {% endblock %}


        </div>


    </div>
</div>
</div>


</body>
</html>